
# 2xx ----

import(Biobase)
import(SummarizedExperiment)

S3method(randomForest, ExpressionSet)
S3method(randomForest, SummarizedExperiment)
S3method(randomForest, DESeqDataSet)
S3method(randomForest, DESeqTransform)
export("randomForest")

importFrom(
    "SummarizedExperiment",
    "assays","colData"
)

importFrom(
    "randomForest",
    "randomForest", "importance"
)

importClassesFrom(
    "DESeq2",
    "DESeqDataSet"
)
#importFrom(
#    "DESeq2",
#    "makeExampleDESeqDataSet", "estimateSizeFactors",
#    "rlog", "varianceStabilizingTransformation"
#)

#import(stats)
importFrom(
    "stats",
    "aggregate", "dist", "hclust", "oneway.test", "quantile"
)

# Pending transition from 1xx to 2xx ----

# Package required for the features of GOexpress to work
import(biomaRt)
import(ggplot2)
import(grid)
import(RColorBrewer)
import(graphics)

#importFrom(
#    "graphics",
#    "hist", "par", "plot", "plot.design"
#)

importFrom(
    "gplots",
    "heatmap.2", "bluered", "greenred"
)

importFrom(
    "stringr",
    "str_extract"
)

importFrom(
    "RCurl",
    "getCurlHandle"
)


#export("^[[:alpha:]]+")

# Functions available to the user (API)
export("cluster_GO")
export("expression_plot")
export("expression_plot_symbol")
export("expression_profiles")
export("expression_profiles_symbol")
export("GO_analyse")
export("heatmap_GO")
export("hist_scores")
export("list_genes")
export("plot_design")
export("pValue_GO")
export("quantiles_scores")
export("rerank")
export("subEset")
export("subset_scores")
export("table_genes")
