#export("^[[:alpha:]]+")

# Functions available to the user (API)
export("cluster_GO")
export("expression_plot")
export("expression_plot_symbol")
export("expression_profiles")
export("expression_profiles_symbol")
export("GO_analyse")
export("heatmap_GO")
export("hist_scores")
export("list_genes")
export("overlap_GO")
export("plot_design")
export("quantiles_scores")
export("rerank")
export("subEset")
export("subset_scores")
export("table_genes")

# Package required for the features of GOexpress to work
import(Biobase)
import(biomaRt)
import(ggplot2)
importFrom(gplots, heatmap.2, bluered, greenred)
import(grid)
importFrom(stringr, str_extract)
importFrom(randomForest, randomForest, importance)
import(RColorBrewer)
importFrom(VennDiagram, venn.diagram)
